<div class="card filters">
  <div class="card-header">
    <strong>Filters</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="slidecontainer">
        <input
          type="range"
          min="0"
          max="1000"
          value="50"
          class="slider"
          id="myRange"
        />
        <p>
          <strong class="fontgrey"
            >0<span id="demo"></span
            ><span class="fontgrey" style="float: right;">1000</span></strong
          >
        </p>
      </div>

      <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
    </form>
  </div>
</div>
